<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")
</head>
<body>
    <div class="navbar">
        <a href="/" class="heading control">Dewey Decimal Classification system.</a>
        <div class="routes">
            <a href="~/Replacing" class="control">Replacing</a>
            <a href="~/Replacing/leaderboard" class="control">Replacing Leaderboard</a>
            <a href="~/Searching" class="control">Identifying areas</a>
            <a href="~/Searching/leaderboard" class="control">Identifying areas leaderboard</a>
            <a href="~/Finding" class="control">Finding</a>
            <a href="~/Finding/leaderboard" class="control">Finding leaderboard</a>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)
    @RenderSection("Styles", false)
</body>
</html>
